@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: CalSans;
  font-style: semibold;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/CalSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: DmSans;
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/DmMonoLatin.woff2") format("woff2");
}
